<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/static/bower_components/platform/platform.js"></script>
    <meta charset="utf-8">
    <title>title</title>
    <!--I am loading the elements just as I would a stylesheet-->
<!--     <link rel="import" href="/static/bower_components/paper-button/paper-button.html"> -->
    <link rel="import" href="/static/my_custom_elements/pretty-girl/pretty-girl.html">

    <style>
      body{
        background-image:url("/static/img/squairy_light.png");
      }

      .container{
        margin:0 auto;
        width:700px;

      }
    </style>
 
  </head>
  <body>
    <!-- page content -->
    <div class="container">
      <pretty-girl></pretty-girl>
    </div>
  </body>
</html>