<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/static/bower_components/platform/platform.js"></script>
    <meta charset="utf-8">
    <title>title</title>
    <!--I am loading the elements just as I would a stylesheet-->
<!--     <link rel="import" href="/static/bower_components/paper-button/paper-button.html"> -->
    <link rel="import" href="/static/bower_components/google-map/google-map.html">
    
    <style>
      html, body {
        height:100%;
      }
      google-map {
        display: block;
        height: 100%;
        width:100%;
      }
    </style>
  </head>
  <body>

    <h2>San Antonio | My hometown</h2>

    <google-map latitude="29.4167" longitude="-98.5000" zoom="14"></google-map>
  
  </body>
</html>